.news_item{
    background-color: #000 ;
}
.news_item .title{
    background-color: #fff;
}

body{
    background-color: #7fffd4;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 2s;
}

.source{
    font-size: medium;
    text-shadow: none;
}